<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcoder.community.dao.UserMapper" >
    <sql id="baseSelect">
        id,username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>
    <sql id="baseInsert">
        username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>

    <select id="selectById" resultType="User">
        select <include refid="baseSelect"/> from user where id=#{id};
    </select>

    <select id="selectByUsername" resultType="User">
        select <include refid="baseSelect"/> from user where username=#{username};
    </select>

    <select id="selectByEmail" resultType="User">
        select <include refid="baseSelect"/> from user where email=#{email};
    </select>

    <insert id="insertUser" keyProperty="id" parameterType="User">
        insert into user (<include refid="baseInsert"/>) values(#{username}, #{password},#{salt},#{email}, #{type}, #{status}, #{activationcode}, #{headerurl}, #{createtime});
    </insert>

    <update id="updateStatus">
        update user set status = #{status} where id=#{id};
    </update>

    <update id="updateHeaderurl">
        update user set header_url = #{headerurl} where id=#{id};
    </update>

    <update id="updatePassword">
        update user set password = #{password} where id=#{id};
    </update>

</mapper>